<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQs</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/mdb.min.css">
    <link rel="stylesheet" href="css/style.css">
   
</head>
<body>
    <style>
        body {
            background-image:url(images1/cos4.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
     <div class="py-5">
      <div class="page-header-area">
			<div class="container">
				<div class="row">
					<div class="col-12 text-center">
						<div class="page-header-content">
							<nav class="breadcrumb-area">
								<ul class="breadcrumb">
									<li>
										<a href="/">Trang chủ</a>
									</li>
									<li class="breadcrumb-sep">/</li>
									<li>FAQs</li>
								</ul>
							</nav>
							<h4 class="title"></h4>
						</div>
					</div>
				</div>
			</div>
		</div>
    <section class=" rgba-white-strong rounded shadow p-3">
    
        <h6 class="font-weight-normal text-uppercase font-weight-normal black-text mb-4 text-center">FAQ</h6>
        <h3 class="font-weight-bold black-text mb-4 pb-2 text-center">CÂU HỎI THƯỜNG GẶP</h3>
        <hr class="w-header">
        <p class="lead text-muted mx-auto mt-4 pt-2 mb-5 text-center">Đây là những câu hỏi thường gặp. Nếu bạn có câu hỏi khác hãy liên hệ Trung Tâm hỗ trợ</p>

        <div class="row">
            <div class="col-md-12 col-lg-10 mx-auto mb-5">
    
                <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
    
                    <div class="card border-top border-bottom-0 border-left border-right border-light">
    
                        <div class="card-header border-bottom border-light" role="tab" id="headingOne1">
                            <a data-toggle="collapse" data-parent="#accordionEx" href="" aria-expanded="true" aria-controls="collapseOne1">
                                <h5 class="black-text font-weight-normal mb-0">
                                    Làm sao để đăng kí tài khoản ? <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </h5>
                            </a>
                        </div>
    
                        <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                            <div class="card-body">
                                Quý khách vui lòng nhấn vào nút “Đăng nhập/Đăng ký tài khoản” trên góc phải màn hình sau đó chọn “Đăng ký/Đăng ký ngay”
                                (Đối với Desktop) hoặc tại góc trái màn hình, chọn biểu tượng Menu rồi chọn “Đăng nhập/Đăng ký” (Đối với Mobile). 
                                Vui lòng điền đầy đủ các thông tin được yêu cầu và nhấn nút “Đăng ký”. Hệ thống sẽ tự động gửi email thông báo về
                                việc kích hoạt tài khoản đến tài khoản email cá nhân của quý khách. Quý khách vui lòng click vào đường link để được
                                xác nhận đã tạo tài khoản thành công.
                            </div>
                        </div>
    
                    </div>
    
                    <div class="card border-bottom-0 border-left border-right border-light">
    
                        <div class="card-header border-bottom border-light" role="tab" id="headingTwo2">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="" aria-expanded="false" aria-controls="collapseTwo2">
                                <h5 class="black-text font-weight-normal mb-0">
                                    Tại sao tôi không đăng nhập tài khoản được? <i class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                        </div>
    
                        <div id="collapseTwo2" class="collapse show" role="tabpanel" aria-labelledby="headingTwo2" data-parent="#accordionEx">
                            <div class="card-body">
                                Quý khách vui lòng kiểm tra kỹ về kiểu gõ hoặc phím Caps Lock trong quá trình điền thông tin đăng nhập thành viên,
                                trường hợp không thể đăng nhập thành công quý khách vui lòng chọn nút “Quên mật khẩu” trên góc phải màn hình và 
                                nhập email hoặc số điện thoại đã đăng ký. Hệ thống sẽ tự động gửi một đường dẫn vào email hoặc sms của quý khách, 
                                quý khách vui lòng nhấp vào đường dẫn để tạo lại mật khẩu mới. Sau khi hoàn tất, quý khách có thể đăng nhập vào tài
                                khoản bằng mật khẩu vừa tạo.
                            </div>
                        </div>
    
                    </div>
    
                    <div class="card border-bottom-0 border-left border-right border-light">
    
                        <div class="card-header border-bottom border-light" role="tab" id="headingThree3">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="" aria-expanded="false" aria-controls="collapseThree3">
                                <h5 class="black-text font-weight-normal mb-0">
                                    Tôi muốn thay đổi thông tin tài khoản thành viên như thế nào? <i class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                        </div>
    
                        <div id="collapseThree3" class="collapse show" role="tabpanel" aria-labelledby="headingThree3" data-parent="#accordionEx">
                            <div class="card-body">
                                Để thay đổi thông tin cá nhân quý khách vui lòng đăng nhập vào tài khoản của mình, chọn nút “Tài khoản của bạn”
                                rồi chọn vào nút “sửa” để thay đổi thông tin.
                            </div>
                        </div>
    
                    </div>
    
                    <div class="card border-left border-right border-light">
    
                        <div class="card-header border-bottom border-light" role="tab" id="headingThree4">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="" aria-expanded="false" aria-controls="collapseThree4">
                                <h5 class="black-text font-weight-normal mb-0">
                                    Có chương trình khuyến mãi nào không? <i class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                        </div>
    
                        <div id="collapseThree4" class="collapse show" role="tabpanel" aria-labelledby="headingThree4" data-parent="#accordionEx">
                            <div class="card-body">
                                Cửa hàng chúng tôi thường xuyên có các chương trình khuyến mãi, giảm giá, tặng quà cho khách hàng.

                                Dưới đây là một số chương trình khuyến mãi đang diễn ra tại cửa hàng chúng tôi:

                                Chương trình giảm giá 10% cho tất cả sản phẩm từ ngày 30/10 đến ngày 30/11/2023.
                                Chương trình mua 1 tặng 1 cho sản phẩm kem chống nắng từ ngày 1/10 đến ngày 15/11/2023.
                                Chương trình bốc thăm trúng thưởng quà tặng hấp dẫn cho tất cả khách hàng mua hàng từ ngày 16/10 đến ngày 29/11/2023.
                                Quý khách vui lòng theo dõi thông tin trên website của cửa hàng để cập nhật các chương trình khuyến mãi mới nhất.

                                Ngoài ra, cửa hàng chúng tôi cũng có các chương trình khuyến mãi dành riêng cho khách hàng thân thiết, khách hàng mới, và khách hàng mua hàng với số lượng lớn.
                                Quý khách có thể đăng ký nhận thông tin về các chương trình khuyến mãi của cửa hàng qua email hoặc số điện thoại.
                            </div>
                        </div>
    
                    </div>
    
                </div>
    
            </div>
        </div>
    
    </section>
    
</body>
</html>
