<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
	<main>
        <div class="row border-top px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                    <h6 class="m-0">Danh mục </h6>
                    <i class="fa fa-angle-down text-dark"></i>
                </a>
                <nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0" id="navbar-vertical">
                    <div class="navbar-nav w-100 overflow-hidden" style="height: 500px">
                    
                     <div class="nav-item dropdown">
                            <a href="#" class="nav-link" data-toggle="dropdown">Trang điểm -MAKEUP<i class="fa fa-angle-down float-right mt-1"></i></a>
                            <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                                <a href="" class="dropdown-item">Che khuyết điểm - Conceaier</a>
                                <a href="" class="dropdown-item">Kẻ mắt - Eyeliner</a>
                                <a href="" class="dropdown-item">Kẻ mày - Eyebrown </a>
                                <a href="" class="dropdown-item">Kem lot - Makeup Pmer </a>
                                <a href="" class="dropdown-item">Kem nền - BB - CC </a>
                                <a href="" class="dropdown-item">Mascara </a>
                                <a href="" class="dropdown-item">Phấn mắt - Phấn má  </a>
                                <a href="" class="dropdown-item">Phấn nước -Cushion </a>
                                <a href="" class="dropdown-item">Phấn phủ- Power</a>
                            </div>
                            </div>
                            
                            
                               <div class="nav-item dropdown">
                            <a href="#" class="nav-link" data-toggle="dropdown">Son môi-LIPS<i class="fa fa-angle-down float-right mt-1"></i></a>
                            <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                                <a href="" class="dropdown-item">Sản phẩm chăm sóc môi</a>
                                <a href="" class="dropdown-item">Son dưỡng - LIP BALM</a>
                                <a href="" class="dropdown-item">Son kem - LIP TINT </a>
                                <a href="" class="dropdown-item">Son thỏi - LIPSTICK </a>
                            </div>
                            </div>
                            
                            
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link" data-toggle="dropdown">Chăm sóc cơ thể-BODY CARE <i class="fa fa-angle-down float-right mt-1"></i></a>
                            <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-200 m-0">
                                <a href="" class="dropdown-item">Body Mist</a>
                                <a href="" class="dropdown-item">Dung dịch vệ sinh</a>
                                <a href="" class="dropdown-item">Kem tan mỡ-Trị rạn-Viêm nang lông</a>
                                <a href="" class="dropdown-item">Lăn xịt khử mùi-Deodorent Roller</a>
                                <a href="" class="dropdown-item">Sữa tắm-Shower Gel</a>
                                <a href="" class="dropdown-item">Tẩy da chết body-Body Scrus</a>
                                <a href="" class="dropdown-item">Tẩy lông-Waxing Cream</a>
                                <a href="" class="dropdown-item">Xà phòng-Soap</a>
                            </div>
                        </div>
                        
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link" data-toggle="dropdown">Chăm sóc da- SKINCARE<i class="fa fa-angle-down float-right mt-1"></i></a>
                            <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                                <a href="" class="dropdown-item">Kem chống nắng-Suncreen</a>
                                <a href="" class="dropdown-item">Kem dưỡng-Faclal Cream</a>
                                <a href="" class="dropdown-item">Kem mắt-Eye Cream</a>
                                <a href="" class="dropdown-item">Kem trị mụn-Acne Treatment</a>
                                <a href="" class="dropdown-item">Kem trị sẹo-Trị nám</a>
                                <a href="" class="dropdown-item">Mặt nạ-Mark</a>
                                <a href="" class="dropdown-item">Nước hoa hồng-Toner</a>
                                <a href="" class="dropdown-item">Serum</a>
                                <a href="" class="dropdown-item">Sữa dưỡng-Lotion</a>
                                <a href="" class="dropdown-item">Sửa rửa mặt-Cleansing Foam</a>
                                <a href="" class="dropdown-item">Tẩy da chết-Scrub</a>
                                <a href="" class="dropdown-item">Tẩy trang-Micelar Water</a>
                                <a href="" class="dropdown-item">Xịt khoáng-Facial Mist</a>
                            </div>
                           </div>
                            <div class="nav-item dropdown">
                            <a href="#" class="nav-link" data-toggle="dropdown">Chăm sóc tóc-HAIR<i class="fa fa-angle-down float-right mt-1"></i></a>
                            <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                                  <a href="" class="dropdown-item">Dầu gội-xả</a>
                                <a href="" class="dropdown-item">Dưỡng tóc</a>
                                <a href="" class="dropdown-item">Thuốc nhuộm tóc-Hair Dye</a>
                                <a href="" class="dropdown-item">Ủ tóc</a>
                            </div>
                          </div>
                          <div class="nav-item dropdown">
                            <a href="#" class="nav-link" data-toggle="dropdown">Dụng cụ-TOOLS<i class="fa fa-angle-down float-right mt-1"></i></a>
                            <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                                <a href="" class="dropdown-item">Bông tẩy trang</a>
                                <a href="" class="dropdown-item">Bông trang điểm </a>
                                <a href="" class="dropdown-item">Cọ trang điểm</a>
                                <a href="" class="dropdown-item">Dụng cụ chăm sóc da</a>
                                <a href="" class="dropdown-item">Giấy thấm dầu</a>
                                <a href="" class="dropdown-item">Kẹp mi-Dao cạo</a>
                                <a href="" class="dropdown-item">Mi giả- Kích mi</a>
                                <a href="" class="dropdown-item">Túi-Bộ chiết mỹ phẩm</a>
                            </div>
                             </div>
                           <div class="nav-item dropdown">
                            <a href="#" class="nav-link" data-toggle="dropdown">Nước hoa-PERFUME<i class="fa fa-angle-down float-right mt-1"></i></a>
                            <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                                <a href="" class="dropdown-item">Nước hoa body</a>
                                <a href="" class="dropdown-item">Nước hoa vùng kín </a>
                            </div>
                            </div>     
                            
                             <div class="nav-item dropdown">
                            <a href="#" class="nav-link" data-toggle="dropdown">Sản phẩm khác-OTHERS<i class="fa fa-angle-down float-right mt-1"></i></a>
                            <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                                <a href="" class="dropdown-item">Các sản phẩm khác</a>
                                <a href="" class="dropdown-item">Kem đánh răng-Toothpaste </a>
                                <a href="" class="dropdown-item">Trà giảm cân </a>
                                <a href="" class="dropdown-item">Viên uống DHC </a>
                                <a href="" class="dropdown-item">Vitamin-Viên cấp nước-Trắng da </a>
                                <a href="" class="dropdown-item">Xịt thơm quần áo-Fabric Mist </a>
                            </div>
                            </div>
                            
                    </div>
                </nav>
            </div>
            <div class="col-lg-9">
                <div id="header-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" style="height: 500px;">
                            <img class="img-fluid" src="assets/images/logo/cosmetic1.jpg" alt="Image">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h4 class="text-light text-uppercase font-weight-medium mb-3">Giảm 10% cho đơn hàng đầu tiên</h4>
                                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">Hàng chính hãng</h3>
                                    <a href="" class="btn btn-light py-2 px-3">Mua sắm ngay bây giờ</a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" style="height: 500px;">
                            <img class="img-fluid" src="assets/images/logo/Cosmetic3.jpg" alt="Image">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h4 class="text-light text-uppercase font-weight-medium mb-3">Mua hàng ngay nhận nhiều ưu đãi</h4>
                                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">Giảm 10% cho các đơn hàng trên 500k</h3>
                                    <a href="" class="btn btn-light py-2 px-3">Mua sắm ngay bây giờ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                        <div class="btn btn-dark" style="width: 45px; height: 45px;">
                            <span class="carousel-control-prev-icon mb-n2"></span>
                        </div>
                    </a>
                    <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                        <div class="btn btn-dark" style="width: 45px; height: 45px;">
                            <span class="carousel-control-next-icon mb-n2"></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
				
		
		<div class="container">
			<section class="product-area">
				<div class="container product-pb" data-padding-bottom="25">
				<div class="blockheader">
									<div class="text-center mx-auto  g-mb-50">
										<h1 class="g-color-coco mb-1 mt-5 text-cation title">
											<a href="">Sản phẩm hot</a>
										</h1>
									</div>
								</div>
					<div class="row">
						<div class="col-12">  
							<div class="row">								
							</div>
							<div class="row">
								<div class="col-md-3" th:each="p:${items}">
									<div class="product-item">
										<div class="inner-content">
											<div class="product-thumb">
												<a th:href="@{|/product/detail/${p.id}|}">
													<img class="product-item m-auto d-block" th:src="@{${'/images1/'+ p.image}}"
														th:title="${p.name}">
												</a>
												<div class="product-action">
													<div class="addto-wrap">
														<a class="add-wishlist" href="javascript:(0);">
															<i class="zmdi zmdi-favorite-outline zmdi-hc-fw icon"></i>
														</a>
														<a class="add-cart" th:href="@{|/product/detail/${p.id}|}"
															th:attr="ng-click=@{|cart.add(${p.id})|}">
															<i class="zmdi zmdi-shopping-cart-plus icon"></i>
														</a>
													</div>
												</div>
											</div>
											<div class="product-desc">
												<div class="product-info">
													<h4 class="title">
														<a th:href="@{|/product/detail/${p.id}|}">[(${p.name})]</a>
													</h4>
													<div class="prices">
														<span class="price">$[[${#numbers.formatDecimal(p.price,0,'COMMA',2,'POINT')}]]</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<div class="row">
				<div class="col-12">
					<div class="pagination-content-wrap border-bottom">
						<nav class="pagination-nav">
							<ul class="pagination justify-content-center">
								<li>
									<button class="prev" ng-click="pager.first()">Trước</button>
								</li>
								<li>
									<button class="prev" ng-click="pager.prev()">
										<i class="fa fa-chevron-left"></i>
									</button>
								</li>
								<li>
									<a class="active">{{pager.page+1}} of {{pager.count?pager.count:'1'}}</a>
								</li>
								<li>
									<button class="next" ng-click="pager.next()">
										<i class="fa fa-chevron-right"></i>
									</button>
								</li>
								<li>
									<button class="next" ng-click="pager.last()">Tiếp</button>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>

			<section class="feature-area">
				<div class="container pb-1">
					<div class="row">
						<div class="col-md-6 col-lg-4">
							<div class="feature-icon-box">
								<div class="inner-content">
									<div class="icon-box">
										<i class="icon zmdi zmdi-pin"></i>
									</div>
									<div class="content">
										<h5 class="title">Miễn phí ship toàn quốc</h5>
										<p>Miễn phí ship với hóa đơn trên 500.000Đ</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-4">
							<div class="feature-icon-box">
								<div class="inner-content">
									<div class="icon-box">
										<i class="icon zmdi zmdi-headset"></i>
									</div>
									<div class="content">
										<h5 class="title">Hỗ trợ 24/7</h5>
										<p>Luôn luôn hỗ trợ 24/7</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-4">
							<div class="feature-icon-box">
								<div class="inner-content mb-0">
									<div class="icon-box">
										<i class="icon zmdi zmdi-card"></i>
									</div>
									<div class="content">
										<h5 class="title">Thanh toán an toàn 100%</h5>
										<p>Đảm bao thanh toán của bạn luôn an toàn.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="brand-logo-area">
				<div class="container">
					<div class="brand-logo-content">
						<div class="row">
							<div class="col-12">
								<div class="swiper-container swiper-slide-gap brand-logo-slider-container">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<div class="brand-logo-item">
												<a href="javascript:(0);">
													<img src="assets/img/brand/1.jpg">
												</a>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="brand-logo-item">
												<a href="javascript:(0);">
													<img src="assets/img/brand/2.jpg">
												</a>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="brand-logo-item">
												<a href="javascript:(0);">
													<img src="assets/img/brand/3.jpg">
												</a>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="brand-logo-item">
												<a href="javascript:(0);">
													<img src="assets/img/brand/4.jpg">
												</a>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="brand-logo-item">
												<a href="javascript:(0);">
													<img src="assets/img/brand/5.jpg">
												</a>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="brand-logo-item">
												<a href="javascript:(0);">
													<img src="assets/img/brand/1.jpg">
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</main>
	
	
	    
</body>
</html>